body {
  margin: 0;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,11,121,1) 0%, rgba(7,59,153,1) 5%, rgba(5,96,177,1) 44%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

li {
  list-style-type: none;
}

.description,
.weather {
  width: 42%;
}

.description-location {
  font-size: 24px;
  font-weight: 600;
}

.description-current-time {
  margin: 20px 0px;
}

.description-summary {
  margin-bottom: 10px;
}

.weather {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}

.weather-wind {
  cursor: pointer;
}

.next-hours {
  cursor: pointer;
}
